/* General setup */

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/* Layout */

main {
    overflow:auto;
    min-width:45rem;
    
}

section {
    float: left;
    min-width: 22.5rem;
    width:50%;
}

figure {
    width:60%;
    margin:0 10% 0 0;
    float:left;
}

figure img {
    width:100%;
    max-width:25rem;
}

figcaption {
    margin:.375rem 0;
}

.long-list {
    margin-top:0;
}

nav {
    float: left;
    width:11.25rem;
}

footer {
    clear: both;
    margin-top:1.5rem;
}

section, aside, nav, footer {
  padding: .5rem;
}

/* header and footer */

header, footer {
  border-top: .125rem solid #33658A;
  border-bottom: .125rem solid #33658A;
}

/* ------ START WRITING YOUR CODE BELOW THIS LINE ------ */

/* NO changes should be made to any of the code above. */

/* NOTE: While you will be using some of the same CSS properties, the VALUES 
   may need to be different in order to style the page correctly. */



/* Imported Typefaces */

@font-face {
    font-family:"Josefin Slab";
    src: url('../fonts/josefinslab-regular') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat-regular') format('truetype');
    font-weight:normal;
    font-style:normal;     
}

/* Typography Styles */

html {
    font-family: 'Montserrat', Arial, sans-serif;
}

h1 {
    letter-spacing: 0.125rem;
    font-family: "Josefin Slab", Georgia, serif;
    font-size: 3.75rem; /* 60px */
    margin: 1.125rem;
    text-align: center;
}

h2 {
    letter-spacing: 0.125rem;
    font-family: "Josefin Slab", Georgia, serif;
    font-size: 1.5rem; /* 24px */
}

h2 + p {
    font-size: 0.75rem; /* 12px */
    letter-spacing: 0.03125rem;
    text-indent: 1.54rem;
}

p {
    font-size: 0.75rem; /* 12px */
    letter-spacing: 0.03125rem;
}

li {
    font-size: 0.75rem; /* 12px */
    letter-spacing: 0.03125rem;
}

figcaption {
    font-size: 0.75rem;
    margin-bottom: 2rem;
}

/* Link Styling */
a {
    outline: none;;
}

a:link {
    outline: none;
    color: #33658A;
}

a:visited {
    outline: none;
    color: #33658A;
}

a:focus{
    outline: none;
    text-decoration: none;;
}

a:hover{
    outline: none;
    text-decoration: none;;
}

/* List Styling */

/* Unordered List Styling */
ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0rem;
    margin-left: 0rem;
    list-style-type: square; /* Use square bullet points */
}

/* Ordered List Styling */
ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0rem;
    margin-left: 0rem;
    list-style-type: lower-alpha; /* Use lowercase letters for ordered lists */
}

.long-list a:hover {
    text-transform: uppercase; /* Transform text to uppercase */
}

/* Navigation Menu */

/* Style the navigation container */
nav {
    padding-left: 0rem;
    margin-top: 0.25rem;
}

/* Style the links inside the navigation */
nav a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 1.125rem; /* 18px */
    margin-bottom: 1.5rem; /* 24px expressed in rem units */
    border: 0.0625rem solid #33658A;
}

/* Focus state */
nav a:focus {
    color: #FFF;
    background-color: #33658A; /* Background color: #33658A *//* Light blue background on focus */
}

/* Focus and Hover states for navigation links */ 
nav a:hover {
    color: #FFF; /* Foreground color: white */
    background-color: #33658A; /* Background color: #33658A */
}

/* Active state */
nav a:active {
    background-color: #000; /* Black background for active state */
    color: #FFF; /* White text color for active state */
}

/* Footer Styles */

footer {
    text-align: center;
}






